#rule{
    margin-left: 20px;
    padding-top: 2px;
}

/*章节标题*/
.title{
    font-size: 18px;
    color: orange;
}

.sub_title{
    font-size: 16px;
    color: red;
}


/*条约*/
.treaty{
    font-size: 14px;
}

/*重要条约*/
.imp_treaty {
    font-size: 14px;
    color: red;
}

/*蓝色条约*/
.notice{
    font-size: 14px;
    color: cornflowerblue;
}